{% extends "PiggyBoxTicketBundle::layout.html.twig" %}

{% block content %}

    <div id="content" class="container">

        <div class="row">
            <div class="span12">
    
            
                <h2>Rechercher par nom</h2>
                
                <form class="span10 offset1" method="post" action="#">
                
                    <input type="text" name="nom" id="searchbyname" class="span4" />
                    
                    <button type="submit" class="btn btn-large"><i class='icon-search'></i> Rechercher</button>
                
                </form>
        
            </div>
        </div>
        
    </div>

{% endblock %}