{% extends "PiggyBoxTicketBundle::layout.html.twig" %}

{% block content %}

    <div id="content" class="container">




        <!-- TEMP  ----------------------------------- -->

        <div class="row">
            <div class="span12">
                <div id="branding"></div>
            </div>
        </div>

        <div class="row">
            <div class="span8 offset2">
                
                <form action="#" method="post" class="well form-inline"> 
                    <h3>Connexion</h3>
                    <input type="text" class="span4" name="login" placeholder="Adresse Email" />
                    <input type="password" class="span2" name="password" placeholder="Mot de passe" />
                    <button class="btn btn-primary">Ok</button>
                    <br /> <small><a href="#">Mot de passe oublié</a></small>
                </form>

            </div>
        </div>




        <!-- /TEMP ---------------------------------- -->

        <div class="row">
            <div class="span12">
    
            
                <h2>Rechercher par nom</h2>
                
                <form class="span10 offset1" method="post" action="#">
                
                    <input type="text" name="lastname" id="searchbyname" class="span4" />
                    
                    <button type="submit" class="btn btn-large"><i class='icon-search'></i> Rechercher</button>
                
                </form>
        
            </div>
        </div>
        
    </div>

{% endblock %}