{% extends "PiggyBoxTicketBundle::layout.html.twig" %}

{% block fos_user_content %}

<div id="content" class="container">

    <div class="row">
        <div class="span12">

            <h2>Nous contacter</h2>

            <p>N'hésitez pas à nous contacter en cas de problème avec l'application.</p>
            <br />

            <div class="row">
                <div class="span4">
                    <h3>Nos coordonnées</h3>
                    <br />

                    <div class="well">
                        <h3>06.49.74.43.64.</h3>
                        <br />
                        <h3><a href="mailto:baptiste.dupuch@gmail.com" target="_blank">support@piggybox.fr</a></h3>
                    </div>
                </div>

                <div class="span7 offset1">
                    <h3>Envoyez nous un message <small>Nous vous rappellerons</small> </h3>
                    <br />
                    <form class="form-horizontal" action="{{ path('fos_user_profile_contact') }}" method="post" {{ form_enctype(form) }}>
                        
                        {{ form_widget(form) }}
                        <!-- <textarea id="contactform" placeholder="Entrez votre message ici"></textarea> -->
                        <br />
                        <br />
                        <button type="submit" class="btn btn-success btn-large pull-right"><i class="icon icon-comment icon-white"></i> Envoyer</button>
                    </form>
                </div>

            </div>


        </div>
    </div>

</div>


{% endblock fos_user_content %}