{% extends "PiggyBoxUserBundle::layout.html.twig" %}

{% block content %}

    <div id="content" class="container">


       <div class="row">
            <div class="span12">
                <div id="branding"></div>
            </div>
        </div>

        <div class="row">
            <div class="span8 offset2">
                
                <form action="#" method="post" class="well form-inline"> 
                    <h3>Connexion</h3>
                    <input type="text" class="span4" name="login" placeholder="Adresse Email" />
                    <input type="password" class="span2" name="password" placeholder="Mot de passe" />
                    <button class="btn btn-primary">Ok</button>
                    
                </form>

                <div class="pull-right"><small><a href="#">Mot de passe oublié ?</a></small></div>

            </div>
        </div>

        
    </div>

{% endblock %}