<!DOCTYPE html>
<html>
    <head>
        
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="content-language" content="fr" />

        <meta name="author" lang="fr" content="Julien Bourdeau" />
        <meta name="copyright" lang="fr" content="Julien Bourdeau" />
        <meta name="description" content="Un systeme de gestion des tickets Resto" />

        <meta name="robots" content="noindex" />              
           
        <meta charset="UTF-8" />
        <title>{% block title %}Gestion des avoirs des tickets restaurant!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            '@PiggyBoxTicketBundle/Resources/public/css/*'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        
        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
            '@PiggyBoxTicketBundle/Resources/public/js/*'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
